In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [12]:
path = 'data/API_EN.ATM.CO2E.PC_DS2_en_csv_v2_4353266/API_EN.ATM.CO2E.PC_DS2_en_csv_v2_4353266.csv'
df = pd.read_csv(path, skiprows=4, sep=',', decimal='.', encoding='latin1')

# remover do dataframe as colunas de anos entre 1960 e 1990
for i in range(1960, 1991):
    del df[str(i)]

df.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1991,1992,1993,1994,1995,1996,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,Unnamed: 66
0,Aruba,ABW,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.953224,0.915661,0.916485,0.917093,0.936570,0.947393,...,1.005027,1.016649,0.966589,0.948410,0.937926,0.917507,0.913618,NaN,NaN,NaN
2,Afghanistan,AFG,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.167682,0.095958,0.084721,0.075546,0.068468,0.062588,...,0.185624,0.146236,0.172897,0.149789,0.131695,0.163295,0.159824,NaN,NaN,NaN
3,Africa Western and Central,AFW,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.530016,0.568305,0.523529,0.470888,0.501681,0.564390,...,0.508099,0.515960,0.494065,0.499405,0.483140,0.486456,0.493923,NaN,NaN,NaN
4,Angola,AGO,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.544539,0.543557,0.708984,0.836804,0.912141,1.072168,...,1.036294,1.099779,1.135044,1.031811,0.813301,0.777675,0.792137,NaN,NaN,NaN